
.content-upload{
    /* padding-top: 10%; */
    padding-right: 0;
    /* padding-left: 0; */
    margin-right: 0;
    width: 100%;
    /* background: rebeccapurple; */
}


.content-form-scraping{
   padding-top: 10%;
    margin-left: 30%;
    margin-right: auto;
    padding: auto;
    width: 50%;
}