

#container-form{
    margin-left: auto;
    margin-right: auto;
}



/* subir poster -- */
#container-poster{
    margin-left: auto;
    margin-right: auto;
}

/* formulario crear curso */

.form-crear-curso .form-row input{
 border-radius: 8mm;
}
.form-crear-curso .form-group input{
    border-radius: 7mm;
}

.form-crear-curso .form-group textarea{
    border-radius: 7mm;
}
.form-crear-curso button{
    border-radius: 7mm;
}

.zoon-component:hover{
    transform: scale(1.01);
    z-index: 100;
    background: rgba(252, 250, 250, 0.932);
    
    box-shadow: 0 0px 4px rgba(0, 0, 0, .1);
    color: rgb(0, 0, 0);
}