
.from-upload-image .border-circle{
    border-radius: 7mm;
}
.from-upload-image .custom-file input{
    border-radius: 7mm;

}

.custom-file-label::after {
    position: absolute;
    height: calc(1.5em + 0.75rem);
    padding: 0.275rem 0.15rem;
    color: #495057;
    content: "Seleccionar" ;
    background-color: #e9ecef;
    border-radius: 0 0.25rem 0.25rem 0;
  }