

.body-formlario{
  width: 85%;
  padding-left: 21%;
  padding-right: 7%; 
    padding-top: 2%;
    padding-block-end: 2%;
    
}
.formulario-pregunta{
    margin: 0%;
    padding-left: 5%;
    padding-right: 5%;
}



/* ---- range input------------ */
.inputDiv {

    width: 300px;
    margin: 30px auto;
    position: relative;
    padding-bottom: 23px;
    /* background: rgb(241, 241, 241) */
  }
  
  input[type='range'] {
    display: block;
    width: 300px;
  }
  
  input[type='range']:focus {
    outline: none;
  }
  
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    background-color: rgb(12, 204, 114);
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-top: -9px;
  }
  
  input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    background-color: rgb(0, 207, 162);
    height: 3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
  }
  
  input[type=range]::-moz-range-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-fill-lower {
    background-color: HotPink
  }
  
  input[type=range]::-ms-fill-upper {
    background-color: black;
  } 

/* end range input */