.container-video{
    border:0px;
    /* background-color: darkblue; */
    padding-left: 2%;
    padding-right: 2%;
    min-height:500px;

}

.container-form{
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-shadow: -1px 1px 9px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 9px 1px rgba(0,0,0,0.75);
box-shadow: -1px 1px 9px 1px rgba(0,0,0,0.75);
}