
.container-video{
    border:0px;
    /* background-color: darkblue; */
    padding-left: 2%;
    padding-right: 2%;
    min-height:500px;

}

.container-form{
    padding-left: 5%;
    padding-right: 5%;

}