/* containner formulario */

.modal-content{
    /* position: static; */
    margin-left: -26%;
    margin-right: 10%;
    width: 150%;
    
}


/* formulario de preguntas */
.pregresp {
    border: 1px solid #7DA5E0;
    padding: 10px;
    margin: 10px;
    border-radius:2em;   
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    }
    
    .pregunta {
    text-align: left;
    color: #7DA5E0;
    }
    
    .respuestas {
    padding-left: 20px;
    text-align: left;
    color: #000000;
    }


.form-nota-exam{
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 45px;
    -webkit-border-bottom-right-radius: 45px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-bottomright: 45px;
    border-radius: 5px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
    