
.content-form-user-update-security{
    padding: 0 400px 0 400px;
}

.labels-form-email{
        padding-left:47px;
        text-align: left;
        font-size: 1.3vmax;
        margin-bottom: 0;
        color: rgb(148, 140, 140);
    
}