/* *,
*:before,
*:after {
  box-sizing: border-box;
} */
h1,
.center-ps {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
h1 {
  width: 100vw;
  top: 20vh;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.loader-ps {
  --color: #5d62bd;
  width: 100px;
  height: 100px;
  background-color: var(--color);
  outline: 6px solid var(--color);
  outline-offset: -1px;
  -webkit-transform: rotate(45deg) scale(0.5);
          transform: rotate(45deg) scale(0.5);
}
.loader-ps:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-color: var(--color);
  -webkit-animation: rotate 3s infinite;
          animation: rotate 3s infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
  }
  25% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
  }
  26% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
  }
  51% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
  }
  75% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
  }
  76% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
  }
  25% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
  }
  26% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
  }
  50% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
  }
  51% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
  }
  75% {
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
  }
  76% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
  }
  100% {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
            transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
  }
}
