.user-avatar-chat {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    float: left;
    /* width: 2px; */
    color: #ffffff;
    margin-top: 11px;
    /* margin-left: -12px !important; */
    /* margin-right: 1em; */
    position: relative;
    
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}


.user-initial-chat{
    margin-left: -20px !important;
    margin-top: 1px;
    font-size: 15px;
}


/* contenre pregunta realizada  */
.postinfobot{
        height: 1px;
}