/*------------------------------------------------------------------
[Table of contents]

#index.html - HOME PAGE
1. General
2. Footer
3. Header
3.1. Avatar
4. Content
4.1. Pagination
4.2. Sidebar
4.3. Post

#02_topic.html - TOPIC
5. Breadcrumb
6. Topic
7. Quote post


#03_new_topic.html - NEW TOPIC

#04_new_account.html - NEW ACCOUNT

8. Extra small devices (less 767px)
8.1. index.html
8.2. 02_topic.html
8.3. 03_new_topic.html
9. Small devices (768 - 991px)
10. Medium devices (992-1200px)
11. Large devices (more 1200px)

-------------------------------------------------------------------*/

/* iportado de bootstrap */

.media.pull-left {
    margin-right: 10px
}

.pull-left {
    float: left!important
}

.clearfix:before,
.clearfix:after,
.clearfix:after

mark {
    background: #ff0;
    color: #000
}

/*-----------------------------------------------------------------*/

/* realizar pregunta btn */
.btn-conenten-send{
    text-align: center;
}

.btn-send-pregunta{
    border-radius: 7vh;
    color:white !important;
    background-color: #08AEEA;
    background-image: linear-gradient(60deg, #08AEEA 0%, #2AF598 50%, #0686ff 100%) !important;
}

.btn-send-pregunta:hover{
    color:white !important;
    background-color: #ffffff;
    background-image: linear-gradient(353deg, #08ffb8 0%, #2AF598 50%, #06edb2 100%) !important;

}

.textwraper{
    font-size: medium;
    border: 1px solid #ff8800;

    /* height: 206px; */

    
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.textarea-pregunta{
    /* border-radius: 7vh;  */
    /* height: 23px; */
    padding: 10px 15px 15px 15px;
    /* background: #3f3f3f; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    /* font-weight: bold; */
    /* letter-spacing: 5px; */
}
.purple-border textarea {
    border: 1px solid #ff9305;
}
.purple-border .form-control:focus {
    border: 1px solid #fa9600;
    box-shadow: 0 0 0 0.2rem rgba(212, 115, 230, 0.25);
}

.body-chat .post-pregunta{
    background-color: #ffffff;
    
    border-radius: 9px;
    box-shadow: 0 1px 2px #ffffff;
    margin-bottom: 20px;
}
/* text date */
.text-date-chat{
    font-size: small;
    opacity: 0.4;
    text-transform: lowercase;
}




/*  */

/*--- General ---*/

.body-chat {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 12px;
    color: #3f3f3f;
}

.body-chat a {
    color: #363838;    
}
.body-chat a:hover {
    color: #989c9e;    
}

/*-----------------------------------------------------------------*/
/*--- Footer ---*/


/*-----------------------------------------------------------------*/
/*--- Header ---*/

.content {
    width: 70%;
    position: center;
    background-color: #ffffff;
    border-top: solid 1px #e0e4e5;
    margin-left: auto;
    margin-right: auto;
}


/*--- Avatar ---*/




/* .env {
    font-size: 18px;
    color:#cfd5d7;
    line-height: 38px;
    padding: 0 20px;
} */

.body-chat .avatar {
    position: relative;
}

.body-chat .avatar img {
    border-radius: 50%;
}

.body-chat .avatar .status {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}






/*-----------------------------------------------------------------*/
/*--- Content ---*/

/*--- Post --*/


.body-chat .post {
    background-color: #ffffff;
    
    border-radius: 9px;
    box-shadow: 0 1px 2px #6d6d6d;
    margin-bottom: 20px;
    /* width: 70%; */
}

.body-chat .post .wrap-ut {
    width: 85%;
}

.body-chat .post .userinfo {
    width: 15%;
    padding: 20px 0 15px 15px;
}
/* texto del chat */
.body-chat .post .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: left;
    color: #363636;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
}

.post .postinfo {
    width: 15%;
    border-left: solid 1px #fffefe;


}
/*  */

.body-chat .post .avatar {
    width: 37px;
    margin-left: 5px;
}

.post .icons {
    width: 48px;
    border-top: solid 1px #ffffff;
    margin-top: 12px;
    padding-top: 7px;
}

.body-chat .post h2 {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;   
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-chat .post .comments {
    border-bottom: solid 1px #fffcfc;
    padding: 18px 0 25px 0;
    text-align: center;
}



.body-chat .post .comments .commentbg {
    background-color: #6c6e70;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    position: absolute;
    /* chanege position:relative */
}

.body-chat .post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #024979;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.body-chat .post .views {
    border-bottom: solid 1px #f1f1f1;
    color:#000000;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;
}

.body-chat .post .views i {
    font-size: 14px;
}

.body-chat .post .time {
    color:#189cd4;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;

}

.body-chat .post .time i {
    font-size: 14px;
}







/*-----------------------------------------------------------------*/
/* #02_topic.html - TOPIC */

/*--- Breadcrumb ---*/
.breadcrumbf a , .breadcrumbf {
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    line-height: 62px;
}

.breadcrumbf a:hover {
    text-decoration: underline;
}

/*--- Topic ---*/
.topic .userinfo {
    width: 12%;
}

.topic .posttext {
    width: 88%;
}

.postinfobot {
    border-top: solid 1px #d8d8d8;
    line-height: 50px;
    padding: 0 30px 0 94px;
}


.postinfobot .likeblock {
    width: 120px;
}

.postinfobot .prev {
    width: 30px;
}

.postinfobot .prev a {
    font-size: 18px;
    color: #5e5e5e;
}

.postinfobot .posted {
    width: 380px;
    margin-left: 18px;
    font-size: 12px;
    color: #004675;
    font-family: 'Open Sans Regular', sans-serif; 
}

.postinfobot .posted i {
    font-size: 18px;
    color: #bdc3c7;
    padding-right: 8px;
}

.postinfobot .next {
    width: 90px;
    text-align: right;
}

.postinfobot .next a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .next a i {
    padding-right: 18px;
}

.up {
    color: #1abc9c;
    font-size: 12px;
}

.up i,
.down i {
    font-size: 20px;
    padding-right: 10px;
}

.down {
    color: #db7a7a;
    font-size: 12px;
    margin-left: 20px;
}

a.up:hover {
    text-decoration: none;
    color: #1de4bd;
}

a.down:hover {
    text-decoration: none;
    color: #f48989;
}

.beforepagination {
    margin-bottom: 0;
}


/*--- Quote post ---*/
.post blockquote {
    border: solid 1px #f1f1f1;
    border-radius: 2px;
    font-size: 14px;
    padding: 18px;
}

.post blockquote .original,
.postreply {
    font-size: 12px;
    color: #000000;
    display: block;
    font-family: 'Open Sans Regular', sans-serif; 
}

.textwraper textarea {
    /* border: none; */
    box-shadow: none;
    background-color: #f1f1f1;
    /*    width: 610px;*/
    width: 100%;
}

.textwraper {
    background-color: #f1f1f1;
    /* border-radius: 2px; */
    /* padding:18px; */
}

.notechbox {
    width: 20px;
}

.notechbox input {
    width: 12px;
    box-shadow: none;
    margin-top: 8px;
    border-color: #bdc3c7;
}

.notechbox input:active,
.notechbox input:focus,
.notechbox input:hover {
    box-shadow: none;
}

.postinfobot label {
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 

}


.smile a {
    margin-right: 20px;
    font-size: 20px;
    color: #bdc3c7;
}



.btn-primary {
    background-color: #1abc9c;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    border: none;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    border: none;
    background-color: #20e1bb;
    box-shadow: none;
}



/*-----------------------------------------------------------------*/
/*--- #03_new_topic.html - NEW TOPIC ---*/

.newtopic input[type=text],
.newtopic input[type=password]
{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select {
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #cfd5d7;
    background-color: #ffffff;

    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select:hover,
.newtopic select:focus,
.newtopic select:active {
    box-shadow: none;
}


.newtopic textarea {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #0c90d1;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 150px;
}

.newtopic textarea:hover,
.newtopic textarea:focus,
.newtopic textarea:active {
    box-shadow: none;
}

.newtopic p {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif; 
}


.newtopcheckbox input {
    margin-top: 5px;
    width: 18px;
    height: 18px;

    /*    width: 18px;
        box-shadow: none;
        margin-top: 8px;
        border-color: #bdc3c7;*/

}

.checkbox input {
    margin-right: 7px;
}

.checkbox .fa-facebook-square {
    color: #3b5b99;
    font-size: 20px;
    margin-top: 4px;
}

.checkbox .fa-google-plus-square {
    color: #e74724;
    font-size: 20px;
    margin-top: 4px;
}

.checkbox .fa-twitter {
    color: #42c8f4;
    font-size: 20px;
    margin-top: 4px;
}

.loading {
    text-align: right;
}

.similarposts {
    /*    height: 57px;*/
    margin-bottom: 20px;

}

.similarposts p {
    display: inline;
    color: #bdc3c7;
}
.similarposts p span {
    color: #363838;
}

.similarposts .fa-info-circle {
    font-size: 18px;
    color: #3498db;
    margin-right: 10px;
}

.similarposts .fa-spinner {
    font-size: 18px;
    color: #363838;
}

.postinfotop h2 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    padding: 20px;
    margin: 0;
    border-bottom: solid 1px #8f8888;
}



/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*--- Small devices (768 - 991px) ---*/

@media (min-width: 768px) and (max-width: 991px) {

    .container-fluid {
        padding: 0;
    }

    .post .userinfo {
        width: 15%;
        padding: 15px 0 15px 15px;
    }

    .post .posttext {
        text-align: left;
        background: rgb(255, 255, 255);
        width: 85%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 12px;
    }

    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }

    .post .views i {
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark {
        left: 36%;
    }

    .headernav {
        height: auto;
    }

    .avt {
        height: auto; 
        margin-bottom: 15px;
    }

    .selecttopic select {
        width: 100%;
    }

    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }

    .selecttopic .dropdown-menu {
        margin-top: -20px;
    }

    .dropdown.avatar .status {
        right: 14px;
    }

    .dropdown.avatar b.caret {
        color: #363838;
    }

    .content {
        width: 100%;
        position: center;
        background-color: #ffffff;
        border-top: solid 1px #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    
}


/*-----------------------------------------------------------------*/
/*--- Medium devices (992-1200px) ---*/
@media (min-width: 992px) and (max-width: 1200px) {
    .container-fluid {
        padding: 0;
    }

    .headernav .search .txt {
        width: 75%;
    }

    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }
    ul.socialicons {
        margin-bottom: 0;
    }

    /* 2 */
    .textwraper textarea {

        width: 100%;
    }
    /* end 2 */
}


/*-----------------------------------------------------------------*/
/*--- Large devices (more 1200px) ---*/
@media (min-width: 40px)and (max-width: 700px) {
    .container-fluid {
        padding: 0;
    }

    .container {
        padding: 0;
    }
    .content {
        width: 100%;
        position: center;
        background-color: #ffffff;
        border-top: solid 1px #e0e4e5;
        margin-left: auto;
        margin-right: auto;
    }
}
