
.content-form-signIn {
    width:100%;
	margin:auto;
	/* max-width:525px;
	min-height:670px; */
	/* position:relative; */
	background:url(./img/loginCity2.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    /* overflow: auto; */

    
}

.bg-imagen{
	/* width:100%;
    height:100%; */
	/* position:absolute; */
	/* padding:90px 70px 50px 70px; */
    background:rgba(40, 57, 101, 0.911);
}

.group-longin ::placeholder{
    color:rgb(255, 255, 255);
	font-size:14px;
}

.group-longin input{
	color:rgb(243, 243, 243) !important;
	font-size:14px;
}

.btn-from-signin{
    width: 56%;
    border-radius: 2em;
    color:white;
    background:#FF7043;
}

.btn-from-signin:hover{
    color: white;
}