
.content-from-signup{
    width:100%;
	margin:auto;
	/* max-width:525px;
	min-height:670px; */
	/* position:relative; */
	background:url(./img/loginvertical.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    /* overflow: auto; */

    
}


.bg-imagen-signup{
    /* width:100%;
    height:100%; */
	/* position:absolute; */
	/* padding:90px 70px 50px 70px; */
    background:rgba(40, 57, 101, 0.911);
}

.group-signup input{
    /* background: rgba(236, 95, 95, 0.658); */
    color:rgb(243, 243, 243) !important;
	font-size:14px;
}
.group-signup ::placeholder {
    color: aliceblue;
}

.btn-form-signUp {
    width: 80%;
    border-radius: 2em;
    color:white;
    background:#1161ee;
}
