
/* banner con la descripcion del curso*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.bannser-sections{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-align:  left;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #34014c 100%);
    
    

    width: 100%;
    min-height: 100px;
    transition: .8s;
    overflow: hidden;
}

/* .bannser-sections:hover{
    background: #570523;
} */

.diagonal:before{
    position: absolute;
    z-index: 1;
    content: "befores";
    background-color: #ffffff;
    height: 300px;
    width: 150%;
    top: 100%;
    transform: rotate(-2.5deg);
    transform-origin:0;
}


#content{
    padding-left:   5%;
    padding-right: 40%;
    padding-top: 1%;  
    
}
#content h1,h2,h5{
    text-transform: uppercase;
}

/* card content */
#card-content{
    position: fixed;
    right: 1%;
    z-index: 1;
    width: 30%;
    margin-right: 3%;
    margin-top: 2%;
    padding: 1px;
}



/* container acordion */
.container-acordion{
    margin-left: 1%;
    margin-top: 1%;
    width: 64%;
}

.container-crear-seccion{
    margin: 0 auto;
}

/* secciones */
.seccion-tema{
    text-align: left;
    padding: 0 0 0 30px;
    
}

.titile-sec{
    margin: 4px 0 0 23px;
}
.card-cont-seccion{
   padding: 0 0 0 0;

}

.image{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    /* opacity: 0.2; */
    background-image: url(./images/img.png);
    background-size: cover;
    opacity: 0.1;
    filter: grayscale(100%)
}



.zoon-component:hover{
    transform: scale(1.9);
    z-index: 100;
    
    box-shadow: 0 0px 4px rgba(0, 0, 0, .1);
}