
/* banner con la descripcion del curso*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
.bannser-sections{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    text-align:  left;
    background: #29303B;
    width: 100%;
    min-height: 100px;
    transition: .8s;
}

.bannser-sections:hover{
    background: #570523;
}




#content{
    padding-left:   5%;
    padding-right: 40%;
    padding-top: 1%;  
    
}
#content h1,h2,h5{
    text-transform: uppercase;
}

/* card content */
#card-content{
    position: fixed;
    right: 1%;
    z-index: 1;
    width: 30%;
    margin-right: 3%;
    margin-top: 2%;
    padding: 1px;
}



/* container acordion */
.container-acordion{
    margin-left: 1%;
    margin-top: 1%;
    width: 64%;
}

.container-crear-seccion{
    margin: 0 auto;
}

/* secciones */
.seccion-tema{
    text-align: left;
    padding: 0 0 0 30px;
}

.titile-sec{
    margin: 4px 0 0 23px;
}
.card-cont-seccion{
   padding: 0 0 0 0;

}





