
.container-curso-playerVideo{
    padding-left: 1%;
    padding-right:2%;
    margin-top: 0px;
    margin-left: -13px;
    

}

/* Scroll  */
.my-custom-scrollbar {
    background:#FFFFFF;
    margin-top: 2px;
    margin-right: -26px;
    margin-left: -20px;
    position: relative;
    height: 485px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
    background: #29303B;
}

/* contenido dl scroll */
#mdb-flag-table{
color: #FFFFFF;
text-align: left;

}
#seccion-title{
    color: #FFFFFF;
    text-align: left;
}

#title-video{
    padding-left: 40px;
}


.video-seccion:hover{
    transform: scale(1.1);
    /* z-index: 100; */
    color: #6664D4;
    /* box-shadow: 0 0px 4px rgba(0, 0, 0, .1); */
}

#video-container{
    padding-right: 6px !important;
}

#video-containe2{
    padding-right: 0px !important;
}