
/* container del formulario */
.container-form-newSeccion{
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 1%;

    margin: 0px;
   
}

.form-newSeccion{

-webkit-box-shadow: -5px -7px 64px -27px rgba(0,0,0,0.5);
-moz-box-shadow: -5px -7px 64px -27px rgba(0,0,0,0.5);
box-shadow: -5px -7px 64px -27px rgba(0,0,0,0.5);
}
